/* Layout */
.layout {
  display: flex;
  height: 100vh;
  background: #ffffff;
}

.layout,
.sidebar,
.content,
.topbar,
.page {
  transition: all 0.3s ease;
}


/* Sidebar */
.sidebar {
  width: 220px;
  background: #123c3c;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0,0,0,0.1);
}

.logo {
  background: #1f5c5c;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

/* Links */
.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
}

/* Active Link Highlight */
.sidebar a.active {
  border-left: 3px solid #10b981;
  background: rgba(16, 185, 129, 0.1);
  font-weight: 600;
  font-size: 13px;
}

/* Hover */
.sidebar a:hover {
  background: #1f5c5c;
}

/* Content */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Topbar */
.topbar {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  border-bottom: 1px solid #e5e7eb;
  background: #ffffff;
  font-size: 13px;
}

.topbar-user {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 8px;
  color: #123c3c;
}

.topbar-user span {
  font-size: 11px;
  color: #6b7280;
}

/* Profile */
.profile {
  position: relative;
  cursor: pointer;
}

.avatar {
  width: 35px;
  height: 35px;
  background: #1f5c5c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* Dropdown */
.dropdown {
  position: absolute;
  right: 0;
  top: 45px;
  background: white;
  color: black;
  padding: 10px;
  border-radius: 8px;
  width: 150px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  font-size: 12px;
}

.dropdown p {
  padding: 8px;
  cursor: pointer;
}

.dropdown p:hover {
  background: #f3f4f6;
}

/* Page content */
.page {
  flex: 1;
  overflow-y: auto;
}
.page h1,
.page h2 {
  margin-bottom: 20px;
}

.page h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.page h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.topbar button {
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #9f9f9f;
}

.sidebar a,
.topbar button,
.dropdown {
  transition: all 0.2s ease;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar svg {
  font-size: 16px;
}
