.register-container {
  height: 100vh;
  width: 100%;

  background:
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("../assets/automation.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: flex-start; 

  overflow-y: auto; 
  padding: 30px 15px;
}

.register-box {
  width: 100%;
  max-width: 420px;
  margin-top: 20px;
  margin-bottom: 20px;

  padding: 25px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  border-radius: 15px;
}

.register-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.register-box .input-group {
  margin-bottom: 15px;
}

.register-box .input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: white;
}

.register-box .input-group input {
  width: 100%;
  padding: 8px;
  background: rgba(255,255,255,0.2);
  border: none;
  border-radius: 5px;
  color: white;
  outline: none;
}

.register-box .input-group input::placeholder {
  color: #ddd;
}

.register-box .input-group select {
  width: 100%;
  padding: 8px;
  background: rgba(255,255,255,0.2);
  border: none;
  border-radius: 5px;
  color: white;
  outline: none;
}

.register-box .input-group select option {
  color: black;
}

.form-message {
  margin-bottom: 12px;
  font-size: 13px;
  color: #ffdede;
}

.register-box button {
  width: 100%;
  padding: 10px;
  background: #0062ff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.register-box button:hover {
  background: #3f9cff;
}

.register-box .login-text {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.register-box .login-text a {
  color: #0062ff;
  text-decoration: none;
}

/* Hide scrollbar */
.register-container::-webkit-scrollbar {
  display: none;
}

.register-container {
  scrollbar-width: none; /* Firefox */
}

.register-container {
  scroll-behavior: smooth;
}

.register-container {
  scroll-behavior: smooth;
}

.register-container .register-box h1 {
  color: cyan;
}