.reports {
  padding: 20px;
}

.stats {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.box {
  flex: 1;
  background: #f3f4f6;
  padding: 20px;
  border-radius: 10px;
}

.graphs {
  display: flex;
  gap: 15px;
}

.graph-box {
  flex: 1;
  height: 300px;
  background: #e5e7eb;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}